$pwp-color-key: "base" !default;

$pwp-colors: (
  "primary": (
    "base": #0e7c86,
    "light": #2cb1bc,
    "dark": #044e54
  ),
  "accent": (
    "base": #38bec9,
    "light": #e0fcff,
    "dark": #38bec9
  ),
  // Font colors
  "neutral": (
      "base": #627d98,
      "light": #bcccdc,
      "dark": #334e68,
      "darker": #102a43
    ),
  // Element backgrounds
  "background": (
      "base": #627d98,
      "light": #ffffff,
      "dark": #334e68,
      "darker": #243b53
    )
);

$pwp-opacity: (
  "light": 0.8,
  // opacity used with lighter colors
    "dark": 0.4,
  // opacity used with darker colors
    // ... etc.
);

@function pwp-color($name: "primary", $variant: $pwp-color-key, $opacity: 1) {
  $color: null;

  // Get the color spectrum
  $color-spectrum: map-get($pwp-colors, $name);

  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  // Get the alpha setting
  $alpha: if(
    type-of($opacity) == "number",
    $opacity,
    map-get($pwp-opacity, $opacity)
  );

  // Set the alpha of the color
  @if $alpha {
    $color: rgba($color, $alpha);
  }

  @return $color;
}

// Example usage
//.pwp-button {
//  background-color: pwp-color('primary');
//
//  &:hover {
//    background-color: pwp-color('primary', 'light');
//  }
//
//  &.secondary {
//    background-color: pwp-color('secondary');
//
//    &:hover {
//      background-color: pwp-color('secondary', 'dark');
//    }
//  }
//
//  &.transparent {
//    background-color: pwp-color('primary', $opacity: 'light');
//  }
//}
