
.gallery-caption,
.wp-caption-text {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 30px;
}
