/* # Footer Widgets
---------------------------------------------- */

.footer-widgets {
  clear: both;
  padding: 60px 0;
  border-top: $border__default;
  background-color: $footer-widgets--background-color;
}

.footer-widgets .wrap {
  margin-right: auto;
  margin-left: auto;
}

.footer-widget-area {
  margin-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
  margin-bottom: 0;
}
