/* # Site Footer
------------------------------------ */

.site-footer {
  padding: 30px;
  border-top: $border__default;
  background-color: $site-footer--background-color;
  font-size: $site-footer--font-size;
  line-height: $line-height--medium;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}
