/* # Media Queries (assets/sass/media-queries/)
========================================================== */

@media only screen and (min-width: 960px) {

  /* Site Header
  --------------------------------------------- */

  .site-header {
    position: fixed;
    z-index: 9999;
    width: 100%;
  }

  /* Genesis Menu
  --------------------------------------------- */

  .genesis-nav-menu .menu-item {
    display: inline-block;
  }

  .genesis-nav-menu .menu-item:focus,
  .genesis-nav-menu .menu-item:hover {
    position: relative;
  }

  .genesis-nav-menu > .menu-bold > a {
    font-weight: $font-weight--bold;
  }

  .genesis-nav-menu > .menu-highlight > a {
    margin-left: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    color: $white;
    background-color: $menu-highlight__link--background-color;
    font-weight: $font-weight--semibold;
  }

  .genesis-nav-menu > .menu-highlight > a:focus,
  .genesis-nav-menu > .menu-highlight > a:hover {
    background-color: $menu-highlight__link--background-color-hover;
  }

  .genesis-nav-menu .sub-menu,
  .genesis-nav-menu .sub-menu a {
    width: 180px;
  }

  .genesis-nav-menu .sub-menu {
    position: absolute;
    padding-left: 0;
    border-top: $border__default;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .genesis-nav-menu .sub-menu a {
    padding-top: 15px;
    padding-bottom: 15px;
    border: $border__default;
    border-top: 0;
  }

  .genesis-nav-menu .sub-menu .sub-menu {
    margin: -46px 0 0 179px;
  }

  /* Responsive Menu
  --------------------------------------------- */

  .genesis-responsive-menu {
    display: block;
    padding-top: 15px;
  }

  .menu-toggle,
  .sub-menu-toggle {
    display: none;
    visibility: hidden;
  }

  /* Header Menu
  --------------------------------------------- */

  .nav-primary {
    float: right;
    clear: none;
    width: auto;
  }

  .nav-primary .genesis-nav-menu a {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* Site-Inner
  --------------------------------------------- */

  .site-inner {
    max-width: 1140px;
    margin-top: 70px;
  }

  /* Content
  --------------------------------------------- */

  .content {
    float: left;
    width: 65%;
  }

  .sidebar-content .content {
    float: right;
  }

  .full-width-content .content,
  .landing-page .content {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  /* Sidebar
  --------------------------------------------- */

  .sidebar {
    float: right;
    width: 30%;
  }

  .sidebar-content .sidebar {
    float: left;
  }

  /* Author Box
  --------------------------------------------- */

  .author-box {
    padding: 30px;
    background-color: $author-box--background-color;
  }

  /* After Entry
  --------------------------------------------- */

  .after-entry {
    padding: 40px 60px;
  }

  .after-entry .enews {
    padding-right: 30px;
    padding-left: 30px;
  }

  /* Column Classes
  --------------------------------------------- */

  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    float: left;
    margin-left: 2.564102564102564%;
  }

  .one-half,
  .three-sixths,
  .two-fourths {
    width: 48.717948717948715%;
  }

  .one-third,
  .two-sixths {
    width: 31.623931623931625%;
  }

  .four-sixths,
  .two-thirds {
    width: 65.81196581196582%;
  }

  .one-fourth {
    width: 23.076923076923077%;
  }

  .three-fourths {
    width: 74.35897435897436%;
  }

  .one-sixth {
    width: 14.52991452991453%;
  }

  .five-sixths {
    width: 82.90598290598291%;
  }

  .first {
    clear: both;
    margin-left: 0;
  }

  /* Entry Misc.
  --------------------------------------------- */

  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings {
    margin-bottom: 60px;
  }

  /* Footer Widgets
  --------------------------------------------- */

  .footer-widgets .wrap {
    max-width: 1140px;
  }

  .footer-widget-area {
    float: left;
    width: calc(100% / 3);
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 960px) {

  /* Site Header
  --------------------------------------------- */

  .site-header {
    position: fixed;
    z-index: 9999;
    width: 100%;
  }

  /* Genesis Menu
  --------------------------------------------- */

  .genesis-nav-menu .menu-item {
    display: inline-block;
  }

  .genesis-nav-menu .menu-item:focus,
  .genesis-nav-menu .menu-item:hover {
    position: relative;
  }

  .genesis-nav-menu > .menu-bold > a {
    font-weight: $font-weight--bold;
  }

  .genesis-nav-menu > .menu-highlight > a {
    margin-left: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    color: $white;
    background-color: #333;
    font-weight: $font-weight--semibold;
  }

  .genesis-nav-menu > .menu-highlight > a:focus,
  .genesis-nav-menu > .menu-highlight > a:hover {
    background-color: $menu-highlight__link--background-color-hover;
  }

  .genesis-nav-menu .sub-menu,
  .genesis-nav-menu .sub-menu a {
    width: 180px;
  }

  .genesis-nav-menu .sub-menu {
    position: absolute;
    padding-left: 0;
    border-top: $border__default;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .genesis-nav-menu .sub-menu a {
    padding-top: 15px;
    padding-bottom: 15px;
    border: $border__default;
    border-top: 0;
  }

  .genesis-nav-menu .sub-menu .sub-menu {
    margin: -46px 0 0 179px;
  }

  /* Responsive Menu
  --------------------------------------------- */

  .genesis-responsive-menu {
    display: block;
    padding-top: 15px;
  }

  .menu-toggle,
  .sub-menu-toggle {
    display: none;
    visibility: hidden;
  }

  /* Header Menu
  --------------------------------------------- */

  .nav-primary {
    float: right;
    clear: none;
    width: auto;
  }

  .nav-primary .genesis-nav-menu a {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* Site-Inner
  --------------------------------------------- */

  .site-inner {
    max-width: 1140px;
    margin-top: 70px;
  }

  /* Content
  --------------------------------------------- */

  .content {
    float: left;
    width: 65%;
  }

  .sidebar-content .content {
    float: right;
  }

  .full-width-content .content,
  .landing-page .content {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  /* Sidebar
  --------------------------------------------- */

  .sidebar {
    float: right;
    width: 30%;
  }

  .sidebar-content .sidebar {
    float: left;
  }

  /* Author Box
  --------------------------------------------- */

  .author-box {
    padding: 30px;
    background-color: $author-box--background-color;
  }

  /* After Entry
  --------------------------------------------- */

  .after-entry {
    padding: 40px 60px;
  }

  .after-entry .enews {
    padding-right: 30px;
    padding-left: 30px;
  }

  /* Column Classes
  --------------------------------------------- */

  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    float: left;
    margin-left: 2.564102564102564%;
  }

  .one-half,
  .three-sixths,
  .two-fourths {
    width: 48.717948717948715%;
  }

  .one-third,
  .two-sixths {
    width: 31.623931623931625%;
  }

  .four-sixths,
  .two-thirds {
    width: 65.81196581196582%;
  }

  .one-fourth {
    width: 23.076923076923077%;
  }

  .three-fourths {
    width: 74.35897435897436%;
  }

  .one-sixth {
    width: 14.52991452991453%;
  }

  .five-sixths {
    width: 82.90598290598291%;
  }

  .first {
    clear: both;
    margin-left: 0;
  }

  /* Entry Misc.
  --------------------------------------------- */

  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings {
    margin-bottom: 60px;
  }

  /* Footer Widgets
  --------------------------------------------- */

  .footer-widgets .wrap {
    max-width: 1140px;
  }

  .footer-widget-area {
    float: left;
    width: calc(100% / 3);
    margin-bottom: 0;
  }

}
