/* # Defaults (assets/sass/defaults/)
======================================================== */

/* Typographical Elements
---------------------------------------*/

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $white;
  color: $dark-grey;
  font-family: $base-font;
  font-size: $body--font-size;
  font-weight: $font-weight--regular;
  line-height: $line-height--normal;
  margin: 0;
  overflow-x: hidden;
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.2s ease-in-out;
}

a {
  color: #0073e5;
  text-decoration: underline;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
  color: $dark-grey;
  text-decoration: none;
}

p {
  margin: 0 0 30px;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border: none;
  border-collapse: collapse;
  border-top: $border-width $border-style $lighter-grey;
  clear: both;
  margin: 30px 0;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

mark {
  background: $light-grey;
  color: $dark-grey;
}

blockquote {
  margin: 30px;
}