/* ## Gallery
-----------------------------------------------*/

.gallery {
  overflow: hidden;
}

.gallery img {
  border: 1px solid #eee;
  height: auto;
  padding: 4px;
}

.gallery img:focus,
.gallery img:hover {
  border: 1px solid #999;
  outline: none;
}

@include create-gallery(1, 1);
@include create-gallery(2, 1);
@include create-gallery(3, 1);
@include create-gallery(4, 1);
@include create-gallery(5, 1);
@include create-gallery(6, 1);
@include create-gallery(7, 1);
@include create-gallery(8, 1);
@include create-gallery(9, 1);

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left;
}

.gallery-item {
  float: left;
  margin: 0 0 30px;
  text-align: center;
}
