//
// Widget Title Stylings
//================================

.sidebar .widget-title a {
  color: #333;
  text-decoration: none;
}

.widget-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
