
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  margin: 0;
  color: $body--font-color;
  background-color: #fff;
  font-family: $base-font;
  font-size: $body--font-size;
  font-weight: $font-weight--regular;
  line-height: $line-height--normal;
}

