/* # Typographical Elements
========================================= */

@import "body";

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.2s ease-in-out;
}

a {
  color: $blue;
  text-decoration: underline;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
  color: $dark-grey;
  text-decoration: none;
}

p {
  margin: 0 0 30px;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  clear: both;
  margin: 30px 0;
  border: none;
  border-top: 1px solid #eee;
  border-collapse: collapse;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}



