/* # Skip Links
======================================================== */

.genesis-skip-link {
  margin: 0;
}

.genesis-skip-link .skip-link-hidden {
  display: none;
  visibility: hidden;
}

.genesis-skip-link li {
  width: 0;
  height: 0;
  list-style: none;
}

/* Display outline on focus */
:focus {
  outline: $border-color__skip-links $border-style $border-width;
  color: #333;
}
