/* ## Breadcrumbs
--------------------------------------------- */

.breadcrumb {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: $border__default;
  font-size: $breadcrumb--font-size;
}
