/* ## Responsive Menu
--------------------------------------------- */

.menu {

  .menu-item:focus {
    position: static;
  }

  .menu-item > a:focus + ul.sub-menu,
  .menu-item.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
  }
}

.genesis-responsive-menu {
  display: none;
  position: relative;

  .genesis-nav-menu .menu-item:hover > .sub-menu {
    display: none;
  }
}

.menu-toggle {

  .sub-menu-toggle {
    display: block;
    visibility: visible;
    overflow: hidden;
    margin: 0 auto;
    border-width: 0;
    color: $dark-grey;
    background-color: transparent;
    text-align: center;
  }

  &:focus,
  &:hover {

    .sub-menu-toggle:focus,
    .sub-menu-toggle:hover {
      border-width: 0;
    //   color: $blue;
      background-color: transparent;
    }
  }
}

.menu-toggle {
  float: right;
  position: relative;
  z-index: 1000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 0;
  line-height: 20px;
}

.menu-toggle.activated::before {
  content: "\f335";
}

.site-header .menu-toggle::before {
  float: left;
  position: relative;
  top: 1px;
  margin-right: 5px;
  text-rendering: auto;
}

.sub-menu-toggle {
  float: right;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 9px 10px;

  .sub-menu & {
    padding: 12px 10px;
  }

  &::before {
    display: inline-block;
    transition: transform 0.25s ease-in-out;
    transform: rotate(0);
    text-rendering: auto;
  }

  &.activated::before {
    transform: rotate(180deg);
  }

}



