/* # Sidebar (assets/sass/sidebar/)
========================================================= */

.sidebar {
  font-size: $sidebar--font-size;
  line-height: $line-height--medium;
}

.sidebar .widget {
  margin-bottom: 40px;
}

.sidebar p {
  margin-bottom: 20px;
}