/* # Footer Widgets (assets/sass/footer-area/)
========================================================= */

.footer-widgets {
  border-top: $border-width $border-style $border-color;
  background-color: $body--background-color;
  clear: both;
  padding: 60px 0;

  .wrap {
    margin-left: auto;
    margin-right: auto;
  }

  .widget:last-child {
    margin-bottom: 0;
  }
}

.footer-widget-area {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
