//
// Entry Title
//==============================

.entry-title {
  margin-bottom: 10px;
  font-size: $entry-title--font-size;

  a {
    color: $dark-grey;
    text-decoration: none;
  }

  a:focus,
  a:hover {
    color: $blue;
  }
}
