@mixin headersize {

  @for $i from 1 through 6 {

    h#{$i} {
      margin: 0 0 20px;
      font-family: $base-font;
      font-size: $header--base-font-size + $header--scaling * (6 - $i);
      font-weight: $font-weight--regular;
      line-height: $line-height--small;
    }
  }
}

@mixin create-gallery-items {

  @for $i from 1 through 9 {

    .gallery-columns-#{$i} .gallery-item {
      width: 1/$i *100%;
    }
  }
}



