/* # Site Navigation
======================================================= */

.genesis-nav-menu {
  clear: both;
  line-height: 1;
  width: 100%;

  .menu-item {
    display: block;
    float: none;
    position: relative;
  }

  a {
    color: $dark-grey;
    display: block;
    font-size: $genesis-nav-menu--font-size;
    font-weight: $font-weight--regular;
    outline-offset: -1px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
  }

  a:focus,
  a:hover,
  .current-menu-item > a,
  .sub-menu .current-menu-item > a:focus,
  .sub-menu .current-menu-item > a:hover {
    color: $genesis-nav-menu--font-color-hover;
    text-decoration: none;
  }

  .sub-menu {
    a {
      width: 100%;
    }
  }

  .sub-menu {
    clear: both;
    display: none;
    left: -9999px;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    position: static;
    z-index: 99;

    a {
      background-color: $genesis-nav-menu__sub-menu__link--background-color;
      font-size: $genesis-nav-menu__sub-menu__link--font-size;
      position: relative;
      word-wrap: break-word;
    }
  }

  .menu-item:focus,
  .menu-item:hover {
    position: relative;
  }

  .menu-item:hover > .sub-menu {
    display: block;
    left: auto;
    opacity: 1;
  }
}

/* ## Responsive Menu
----------------------------------------------*/

.menu {
  .menu-item:focus {
    position: static;
  }

  .menu-item > a:focus + ul.sub-menu,
  .menu-item.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
  }
}

.genesis-responsive-menu {
  display: none;
  position: relative;

  .genesis-nav-menu .menu-item:hover > .sub-menu {
    display: none;
  }
}

.menu-toggle,
.sub-menu-toggle {
  background-color: transparent;
  border-width: 0;
  color: $dark-grey;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  visibility: visible;
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
  background-color: transparent;
  border-width: 0;
  color: $blue;
}

.menu-toggle {
  float: right;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 0;
  position: relative;
  z-index: 1000;
}

.menu-toggle.activated::before {
  content: "\f335";
}

.site-header .menu-toggle::before {
  float: left;
  margin-right: 5px;
  position: relative;
  text-rendering: auto;
  top: 1px;
}

.sub-menu-toggle {
  float: right;
  padding: 9px 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.sub-menu .sub-menu-toggle {
  padding: 12px 10px;
}

.sub-menu-toggle::before {
  display: inline-block;
  text-rendering: auto;
  transform: rotate(0);
  transition: transform 0.25s ease-in-out;
}

.sub-menu-toggle.activated::before {
  transform: rotate(180deg);
}

/* ## Header Menu
------------------------------------------------*/

.nav-primary {
  clear: left;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
}

/* ## Footer Menu
-----------------------------------------------------*/

.nav-secondary {
  margin-top: 10px;

  .genesis-nav-menu {
    line-height: 1.5;
  }

  .menu-item {
    display: inline-block;
  }

  a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
}
