/* # Sidebar
========================================================= */

.sidebar {
  font-size: $sidebar--font-size;
  line-height: $line-height--medium;

  .widget {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 20px;
  }
}
