/* # Widgets - Base
======================================================== */

.widget {
  margin-bottom: 40px;

  p:last-child,
  ul > li:last-of-type {
    margin-bottom: 0;
  }

  ul > li {
    margin-bottom: 10px;
  }

  ul > li:last-of-type {
    padding-bottom: 0;
  }

  ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px;
  }

  li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0;
  }
}

.widget_calendar table {
  width: 100%;

  td,
  th {
    text-align: center;
  }
}

/* ## Featured Content
------------------------------------------------- */

.featured-content {
  .entry {
    border-bottom: $border__default;
    margin-bottom: 20px;
  }

  .entry:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

  .entry-title {
    font-size: $featured-content__entry-title--font-size;
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
