.author-box {
  margin-bottom: 40px;
  padding: 60px;
  background-color: $author-box--background-color;
  font-size: $author-box--font-size;

  p:last-child {
    margin-bottom: 0;
  }
}

.author-box-title {
  font-size: $author-box__Title--font-size;
}
