// Font colors
$body--font-color: pwp-color('neutral', 'darker');
$link--font-color: pwp-color('neutral', 'darker');
$link--font-color-hover: pwp-color('accent', 'dark');
$button--font-color: pwp-color('neutral', 'light');
$button--font-color-hover: pwp-color('neutral', 'light');
$entry-title__link--font-color: pwp-color('neutral', 'light');
$entry-title__link--font-color-hover: pwp-color('neutral', 'base');
$site-title__link--font-color: pwp-color('primary', 'base');
$site-title__link--font-color-hover: pwp-color('primary', 'dark');
$genesis-nav-menu--font-color: pwp-color('accent', 'base');
$genesis-nav-menu--font-color-hover: pwp-color('accent', 'light');
$menu-toggle--font-color: $dark-grey;
$menu-toggle--font-color-hover: $blue;
$sub-menu-toggle--font-color: $dark-grey;
$sub-menu-toggle--font-color-hover: $blue;
$menu-highlight__link--font-color: $white;
$sidebar__widget-title--font-color: $dark-grey;
$forms--font-color: $dark-grey;
$archive-pagination--font-color: $dark-grey;
$archive-pagination--font-color-hover: $white;
$gs-faq__question--font-color: pwp-color('background', 'base');
$gs-faq__question--font-color-hover: pwp-color('background', 'dark');
$disabled--font-color: $mid-grey;

