/* ## Featured Content
------------------------------------------------- */

.featured-content .entry {
  border-bottom: $border__default;
  margin-bottom: 20px;
}

.featured-content .entry:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.featured-content .entry-title {
  font-size: $featured-content__entry-title--font-size;
  margin-bottom: 5px;
  margin-top: 10px;
}
